<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Manufacturer List</title>
</head>
<body>
<h1>Список производителей</h1>
<a href="{% url 'manufacturer-create' %}">Добавить производителя</a>
<ul>
    {% for manufacturer in manufacturers %}
    <li>
        <a href="{% url 'manufacturer-detail' manufacturer.pk %}">{{ manufacturer.name }}</a>
        <a href="{% url 'manufacturer-update' manufacturer.pk %}">Изменить</a>
        <a href="{% url 'manufacturer-delete' manufacturer.pk %}">Удалить</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>
